@model FaultReportingSystem.Models.Developer
@{
    ViewData["Title"] = "Developer Login";
    var LoginErrorMessage = TempData["LoginErrorMessage"] as string;
}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Developer Login</h1>
        <div class="col-md-4">
            <hr />
            @if (!string.IsNullOrEmpty(LoginErrorMessage))
            {
                <div class="alert alert-danger alert-fade" role="alert">
                    @LoginErrorMessage
                </div>
            }
            @using (Html.BeginForm("LoginDeveloper", "Home", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
            {
                <div class="form-group">
                    <label asp-for="DeveloperEmail" class="control-label">Email</label>
                    <input asp-for="DeveloperEmail" type="email" class="form-control" maxlength="250" required="required" />
                    <span asp-validation-for="DeveloperEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeveloperPassword" class="control-label">Password</label>
                    <input asp-for="DeveloperPassword" type="password" class="form-control" maxlength="25" required="required" />
                    <span asp-validation-for="DeveloperPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group d-grid">
                    <button type="submit" class="btn btn-outline-primary">Login</button>
                </div>
                <br />
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}