<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title display-6">Key Features</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item mb-2">Effortless Fault Reporting</li>
                            <li class="list-group-item mb-2">Multi-User Roles</li>
                            <li class="list-group-item mb-2">Customizable Workflows</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item mb-2">Real-time Tracking</li>
                            <li class="list-group-item mb-2">Secure Access Control</li>
                            <li class="list-group-item mb-2">Comprehensive Reporting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
