html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #e2f1f8;
    color: #495057;
    margin: 0;
    padding-bottom: 60px;
}

.navbar {
    background-color: #5bc0de;
    padding: 10px 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-color: #5bc0de;
}

.navbar-nav .nav-link {
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .navbar-nav .nav-link:hover {
        background-color: #007bb5;
        color: #ffffff;
    }

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #5bc0de;
}

.dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

    .dropdown-item:hover {
        background-color: #ffffff;
        color: #007bb5;
    }

.card {
    border: 1px solid #5bc0de;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #5bc0de;
    color: #ffffff;
    border-bottom: 1px solid #5bc0de;
    padding: 10px;
    font-size: 1.5rem;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #e2f1f8;
    border-top: 1px solid #dee2e6;
    padding: 10px 20px;
}

    .card-footer .btn {
        margin-right: 10px;
    }

.btn-outline-primary {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

    .btn-outline-primary:hover {
        color: #ffffff;
        background-color: #007bb5;
        border-color: #007bb5;
    }

.btn-outline-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d9534f;
}

    .btn-outline-danger:hover {
        color: #ffffff;
        background-color: #c9302c;
        border-color: #c9302c;
    }

.btn-outline-secondary {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-outline-secondary:hover {
        color: #ffffff;
        background-color: #495057;
        border-color: #495057;
    }
.alert-fade {
    animation: fadeOut 3s ease 1s 1 forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}